build.conf
archlinuxarm-rpi5-aarch64.img
archlinuxarm-rpi5-aarch64-*.img.xz
archlinuxarm-rpi5-aarch64-*.img.xz.sha256
archlinuxarm-qemu-aarch64.img
archlinuxarm-qemu-aarch64-*.img.xz
archlinuxarm-qemu-aarch64-*.img.xz.sha256
dist/
